body {
    font-family: "Questrial", sans-serif;
}

/*navbar styling*/
.location-title {
    padding: 15px 5px 10px 5px;
}

.search-bar-width {
    min-width: 350px;
}

.search {
    width: 100%;
    font-size: .9em;
}

.search-bar-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(255,255,255);
}

.my-locations-list {
    padding: 3px 5px 5px 5px;
}

.location-name {
    font-size: 1.3em;
}

/*info window styling*/
.address-heading {
    margin-bottom: 2px;
    font-size: .95em;
}

.category {
    font-size: 1em;
}

.address {
    margin-bottom: 0;
    font-size: .9em;
}

/*Google maos error handler*/
.map-error-handler {
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

/*style street view image in info window*/
#content {
    margin-top: 10px;
    height: 200px;
    width: 300px;
}

/*footer styling*/
footer {
    background-color: #EDEDED;
    padding: 5px 5px 5px 5px;
    font-size: 0.7em;
}

/*media queries*/
/*query for sizing street view image in info window*/
@media screen and (min-width: 350px) and (max-width: 450px) {
    #content {
        margin-top: 10px;
        height: 300px;
        width: 250px;
    }
}

@media screen and (max-width: 349px) {
    #content {
        margin-top: 10px;
        height: 300px;
        width: 200px;
    }
}

/*query for changing size of navbar as per screen size*/
@media screen and (min-width: 450px) and (max-width: 1024px) {
    .search-bar-width {
        min-width: 33%;
    }
}

@media screen and (max-width: 449px) {
    .search-bar-width {
        min-width: 60%;
        font-size: 75%;
    }
    .footer-text {
        font-size: 0.6em;
    }
}